/*商品详情页组合购买弹出框*/
.tm-dl-overlay {position:absolute;left:-9999px;top:-9999px; display:none}
.tm-dl-overlay-mask {background-color:#000;opacity:0.5;filter:alpha(opacity=50); display:none}
.tm-dl-overlay-content {background-color:#fff}
.tm-dl-overlay-close {position:absolute;right:-40px;top:0;background:url(../images/common/fittings_close.png) no-repeat; width:40px;height:40px;color:#fff;text-align:center;text-decoration:none;}
.tm-dl-overlay-close:hover {position:absolute;right:-40px;top:0;background:url(../images/common/fittings_close.png) no-repeat; width:40px;height:40px;color:#fff;text-align:center;text-decoration:none}
.tm-dl-overlay-close b { height:2px;border:4px solid #f16a68;position:absolute;left:-4px;border-left-width:0;border-top-color:#fff;border-bottom-color:#fff;font-size:0;top:14px}
.tm-dl-overlay-close:hover b {border:4px solid #f16a68;position:absolute;left:-4px;border-left-width:0;border-top-color:#fff;border-bottom-color:#fff;font-size:0;top:14px}
.tm-dl-overlay-close i {font-style:normal;font-size:16px;line-height:40px;text-align:center}
.tm-dl-overlay-close:hover i {font-style:normal;font-size:30px;line-height:40px;text-align:center}

.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock span {background-image:url(data:image/gif;base64,R0lGODlhKAAoAIABAP///////yH5BAEAAAEALAAAAAAoACgAAAJTRIynyeudnoSzIoqtNrtn9nmiGJYlqaEntqqS24KwO8eHjSu1mud73KMFgb/RkHRsFVdJ43LTPD1N01QUWs1kLdfQlvV9dbnhRvkx1qYna8qZUQAAOw==)}
.J_ComboDialog .header .tm-combo-mitem .tm-enable, .J_ComboDialog .header .tm-combo-item .tm-enable { background: url(../images/check/checkbox-icon.png) no-repeat;}
.J_ComboDialog .header {*zoom:1;padding:10px 20px}
.J_ComboDialog .header:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .header .tm-combo-mitem {float:left;position:relative}
.J_ComboDialog .header .tm-combo-item {float:left;position:relative}
.J_ComboDialog .header .tm-combo-mitem .tm-img {width:60px;height:60px;margin:0 10px;text-align:center}
.J_ComboDialog .header .tm-combo-item .tm-img {width:60px;height:60px; margin:0 10px; text-align:center;}
.J_ComboDialog .header .tm-combo-mitem .tm-img a {width:60px;height:60px;display:block;text-align:center;line-height:60px}
.J_ComboDialog .header .tm-combo-item .tm-img a {width:60px;height:60px;display:block;text-align:center;line-height:60px}
.J_ComboDialog .header .tm-combo-mitem .tm-img img {vertical-align:middle;max-width:100%;max-height:100%}
.J_ComboDialog .header .tm-combo-item .tm-img img {vertical-align:middle;max-width:100%;max-height:100%}
.J_ComboDialog .header .tm-combo-mitem .tm-enable {width:13px;position:absolute;top:44px;left:10px;background-color:#fff;height:13px;cursor:pointer}
.J_ComboDialog .header .tm-combo-item .tm-enable {width:13px;position:absolute;top:47px;left:10px;background-color:#fff;height:13px;cursor:pointer}
.J_ComboDialog .header .tm-combo-mitem .tm-enable i {font-style:normal;color:#fff;font-size:12px;text-align:center;display:none}
.J_ComboDialog .header .tm-combo-item .tm-enable i {font-style:normal;color:#fff;font-size:12px;text-align:center;display:none}
html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.force {border-color:#000;background-color:#000;cursor:default}
html body .J_ComboDialog .header .tm-combo-item .tm-enable.force {border-color:#000;background-color:#000;cursor:default}
html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.force i {display:block}
html body .J_ComboDialog .header .tm-combo-item .tm-enable.force i {display:block}
html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.disabled {border-color:#999;background-color:#ccc;cursor:not-allowed}
html body .J_ComboDialog .header .tm-combo-item .tm-enable.disabled {border-color:#999;background-color:#ccc;cursor:not-allowed}
body .J_ComboDialog .header .tm-combo-mitem .tm-enable.selected {background: url(../images/check/checked-icon.png) no-repeat;}
body .J_ComboDialog .header .tm-combo-item .tm-enable.selected { background: url(../images/check/checked-icon.png) no-repeat;}
.J_ComboDialog .header .tm-combo-spliter {float:left;line-height:60px}
.J_ComboDialog .header .tm-combo-info {float:left;}
.J_ComboDialog .header .tm-combo-info .tm-combo-price {display:inline-block;*display:inline;*zoom:1;font-size:12px;line-height:18px;color:#ec5051;}
.J_ComboDialog .header .tm-combo-info .tm-combo-price i {font-family:arial, verdana, sans-serif!important;font-style:normal;font-size:18px}
.J_ComboDialog .header .tm-combo-info .tm-combo-price s {text-decoration:none;font-size:18px}
.J_ComboDialog .header .tm-combo-info .tm-save-price {display:inline-block;*display:inline;*zoom:1;background-color:#333;color:#fff;padding:1px 3px;font-size:14px;line-height:18px;position:relative;margin-left:4px}
.J_ComboDialog .header .tm-combo-info .tm-save-price b {position:absolute;width:0;height:0;border-left-color:transparent;font-size:0;border-bottom:6px solid #333;border-left:6px solid #fff;left:-6px;bottom:0}
.J_ComboDialog .header .tm-combo-info .tm-save-price i {font-family:arial, verdana, sans-serif!important;font-style:normal}
.J_ComboDialog .header .tm-combo-info .tm-save-price s {text-decoration:none}
.J_ComboDialog .header .tm-combo-info .tm-original-price i {font-family:arial, verdana, sans-serif!important;font-style:normal}
.J_ComboDialog .header .tm-combo-info .tm-count s {text-decoration:none}
.J_ComboDialog .header .tm-combo-warnning {display:none;color:#ec5051;margin-top:20px;line-height:20px;float:left;margin-left:10px}
body .J_ComboDialog .header.warnning {background-color:#ffe159}
body .J_ComboDialog .header.warnning .tm-combo-warnning {display:block}
body .J_ComboDialog .header.warnning .tm-combo-info {display:none}
.J_ComboDialog .body {padding-left:20px;background-color:#f5f5f5;*zoom:1}
.J_ComboDialog .body:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .body .title {line-height:50px;color:#666;}
.J_ComboDialog .body .title b { float:left; width:16px;font-weight:400;position:relative;font-size:16px; margin-right:5px; top:0px; display:none;}
.J_ComboDialog .body .title b i { display:block; border-radius:50%; background:#1b96dc; font-style:normal;color:#fff;font-family:serif, arial;position:absolute;width:16px;left:0;top:16px;text-align:center; height:16px;line-height:16px;font-size:12px;}
.J_ComboDialog .body .tm-combo-item {float:left;position:relative;*zoom:1;background-color:#fff;width:455px;margin-right:15px;margin-bottom:20px}
.J_ComboDialog .body .tm-combo-item:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .body .tm-combo-item div.tm-img {float:left;width:60px;margin:10px;text-align:center}
.J_ComboDialog .body .tm-combo-item .tm-amount {position:absolute;width:60px;text-align:center;line-height:20px;height:20px;bottom:0;left:10px;color:#fff}
.J_ComboDialog .body .tm-combo-item .tm-amount span {z-index:2;position:relative}
.J_ComboDialog .body .tm-combo-item .tm-amount i {width:100%;height:100%;background-color:#000;opacity:.5;filter:Alpha(opactiy=50);display:block;position:absolute;left:0;top:0;z-index:1}
.J_ComboDialog .body .tm-combo-item .tm-meta {float:left;width:365px}
.J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop {padding-bottom:4px;padding-top:4px;line-height:20px;*zoom:1}
.J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop dt {float:left;margin-top:4px}
.J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop dd {width:280px;margin-left:85px;float:none}
.J_ComboDialog .body .tm-combo-item .tm-meta li {float:left;position:relative;margin:0 4px 4px 0;line-height:20px;vertical-align:middle;padding:1px}
.J_ComboDialog .body .tm-combo-item .tm-meta li a {float:left;background-color:#fff;white-space:nowrap;width:auto!important;min-width:10px;padding:0 6px;text-align:center;color:#000;text-decoration:none; height:30px;}
.J_ComboDialog .body .tm-combo-item .tm-meta li a:hover, .J_ComboDialog .body .tm-combo-item .tm-meta li a.tb-txt-a {border:2px solid #ec5051;margin:-1px}
.J_ComboDialog .body .tm-combo-item .tm-meta li a:focus {outline:0}
.J_ComboDialog .body .tm-combo-item .tm-meta li.tb-selected li a {border:1px solid #e2e1e3;margin:0}
.J_ComboDialog .body .tm-combo-item .tm-meta li span { padding:0px;*zoom:1; display:block; line-height:30px;}
.J_ComboDialog .body .tm-combo-item .tm-meta li span i{ padding:0 0px 0px 5px; display:inline-block}
.J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img a {width:32px!important;height:32px;padding:0;line-height:32px;background-repeat:no-repeat;outline:0;background-position:center center}
.J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img span { display:block;text-indent:-9999em}
.J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img.tb-txt a {padding:0 5px;width:auto!important}
.J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img.tb-txt span {text-indent:0;width:auto}
.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock i {display:none}
.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock a {border:1px dashed #D6D6D8;color:#CDCDCD;margin:0;cursor:not-allowed}
.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock a:hover {border:1px dashed #D6D6D8;margin:0}
.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock span {background-repeat:repeat;*background:url(http://a.tbcdn.cn/app/ic/img/mask.gif) 0 0 repeat;background-position:0 0}
.J_ComboDialog .body .tm-combo-item .tm-meta .tb-service a {background-repeat:no-repeat;padding-left:22px;background-position:5px center}
.J_ComboDialog .body .tm-combo-item .tb-stock {padding-bottom:4px;padding-top:4px;line-height:20px}
.J_ComboDialog .body .tm-combo-item .tb-stock dd { width:280px; margin-left:85px;}
.J_ComboDialog .body .tm-combo-item .tb-stock dt {float:left}
.J_ComboDialog .body .tm-combo-item .tm-notice {display:none}
body .J_ComboDialog .body .tm-combo-item.hover {border:1px dashed red;position:relative}
body .J_ComboDialog .body .tm-combo-item.hover .tm-notice {position:absolute;right:0;top:0;z-index:1;background-color:#ec5051;color:#fff;padding:2px 4px;display:block}
.J_ComboDialog .body .scroll {*zoom:1;width:100%;position:relative;overflow:auto;height:360px}
.J_ComboDialog .body .scroll:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .footer {*zoom:1;height:70px;width:100%;background-color:#000;color:#999}
.J_ComboDialog .footer:after {display:block;clear:both;height:0;content:' '}
.J_ComboDialog .footer .tm-delivery {float:left;color:#999;line-height:60px;margin-left:30px}
.J_ComboDialog .footer .tm-delivery .tb-deliveryAdd {margin:0 5px}
.J_ComboDialog .footer .tm-delivery .mui_addr_tri {margin:0 5px}
.J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_icon {font-family:tm-detail-font;font-style:normal;position:relative;z-index:1}
.J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_tri_1 {color:#fff;padding-right:12px;cursor:pointer;background:0 0;border:0;position:relative;z-index:2}
.J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_tri_2 {color:#fff;padding-right:12px;cursor:pointer;background:0 0;border:0;position:relative;z-index:2}
.J_ComboDialog .footer .tm-buy {float:right;margin:10px;line-height:40px;position:relative;z-index:1}
.J_ComboDialog .footer .tm-buy .tm-combo-totalPrice i {font-family:arial, verdana, sans-serif!important;font-style:normal;font-weight:bolder;color:#ec5051}
.J_ComboDialog .footer .tm-buy .tm-combo-totalPrice s {text-decoration:none;font-weight:bolder;font-size:18px;color:#ec5051; margin-right:5px;position: relative;top: 2px;}
.J_ComboDialog .footer .tm-buy .tm-combo-totalPrice s em{ font-size:12px;}
.J_ComboDialog .footer .tm-buy .tm-combo-notice {width:18px; background-color:#fee;color:#ec5051;border:1px solid #f9b3ac;position:absolute; right:8px; text-align:center; top:-369px; line-height:18px; }
.J_ComboDialog .footer .tm-buy input {width:35px;line-height:20px;margin:0 5px; height:20px;}
.J_ComboDialog .footer .tm-buy button {line-height:40px;background-color:#ec5051;overflow:visible;border:0;color:#fff;padding:0 15px;border-radius:1px;cursor:pointer}
.J_ComboDialog .footer .tm-buy button.disabled {background-color:#818181}

#content .c-value-no, #content .c-value-no i, #content .c-value-no em, #detail .i-butie, .tb-prop .tb-selected i, .tm-ser .tm-pay-box .tm-pay .pay-credit s, #mallLogo .mlogo s, #shopExtra .slogo-extraicon .ww-inline, #shop-info .shopdsr-score-up, #shop-info .shopdsr-score-down, #shop-info .shopdsr-score-equal, #shop-info .extra-info .other .enter-shop i, #shop-info .extra-info .other .collection i, #shop-info .shop-rate b, #shop-info .shop-rate b.lower, #shop-info .shop-rate b.fair, #header .shopwt-qr {background-image:url(images/goods_f/TB1.png)}
.tb-prop li {float:left;position:relative;margin:0 4px 4px 0;line-height:20px;vertical-align:middle;padding:1px}
.tb-prop li a {float:left;background-color:#fff;white-space:nowrap;width:auto!important;min-width:10px;padding:0 9px;text-align:center;border:1px solid #b8b7bd;color:#000;text-decoration:none}
.tb-prop li a:hover {border:2px solid #ec5051;margin:-1px}
.tb-prop li.tb-selected a {border:2px solid #be0106;margin:-1px}
.tb-prop li.tb-selected a:hover {border:2px solid #be0106;margin:-1px}
.tb-prop li a:focus {outline:0}
.tb-prop li.tb-selected li a {border:1px solid #e2e1e3;margin:0}
.tb-prop li span {padding-left:1px}
.tb-prop .tb-selected i {position:absolute;bottom:0;right:0;width:12px;height:12px;overflow:hidden;text-indent:-99em;display:block;background-repeat:no-repeat;background-position:-124px -24px}


.slideBox{ width:auto; max-width:320px; overflow:hidden; position:relative; float:left; margin-right:20px;}
.slideBox .bd{ width:auto; max-width:320px; overflow:hidden;}
.slideBox .bd img{ width:60px; height:60px; display:block;  }
.slideBox .bd ul li{ width:80px; float:left;}
.slideBox .hd a{color: #000;display: block;font-family: FontAwesome-webfont;font-size: 24px;height: 50px;line-height: 50px;margin-right: 10px;text-align: center;text-decoration: none;width: 25px; position:absolute; cursor:pointer; z-index:9999; top:5px; opacity:0.8;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); display:none;}
.slideBox:hover .hd a{ display:block;}
.slideBox .hd a.prev{ left:0px;}
.slideBox .hd a.next{ right:0px;}
.slideBox .hd a.prevStop{ color:#ddd}
.slideBox .hd a.nextStop{ color:#ddd}

