.container {
    width: 1010px;
    margin: 0 auto;
}

.button {
    border-radius: 2px;
    background: -moz-linear-gradient(center top, #f93, #c60) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #c93;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0 2px;
    min-width: 80px;
    outline: medium none;
    padding: 5px 13px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s linear 0s;
    vertical-align: middle;
    width: auto !important;
}

.button:hover {
    background: -moz-linear-gradient(center top, #0094DE, #960) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: white;
    text-decoration: none;
}

.button:active {
    background: -moz-linear-gradient(center top, #960, #0094DE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #a9c08c;
    position: relative;
    top: 1px;
}

.button:focus {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.container-bg {
    background: url("../images/invite/container-bg.jpg") repeat-x #eee;
    padding-top: 0;
    position: relative;
}

.invite-bd {
    background: url("../images/invite/invite-bg.jpg") no-repeat;
    height: 725px;
}

.invite-rules {
    width: 400px;
    position: relative;
    top: 430px;
    left: 30px;
    color: #5d3701;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 10px;
}

.invite-form {
    background: #fffeec;
    height: 82px;
    margin: 295px 0 0 70px;
    position: absolute;
    width: 785px;
}

.invite-form .i-invite-link {
    background-color: #fff;
    border: 1px solid #bbb;
    color: #000;
    padding: 0 4px;
    color: #000;
    font-size: 1.25em;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    width: 620px;
}

.invite-form .invite-text {
    color: #fd6208;
    margin-left: 25px;
    font-size: 18px;
}

.invite-form div {
    margin-left: 25px;
}

.button {
    background: -moz-linear-gradient(center top, #fa6515, #fa6515) repeat scroll 0 0 transparent;
    border: none;
    border-radius: 3px 3px 3px 3px;
    margin-left: 13px;
}

.copy-btn {
    font-size: 28px;
    height: 32px;
    line-height: 32px;
    width: 105px;
    background-color: #fa6515;
}

.invite-share-site {
    position: relative;
    top: 400px;
    left: 170px;
    width: 600px;
    min-height: 26px;
}

.invite-rebate {
    position: relative;
    top: 420px;
    left: 190px;
    width: 140px;
}

.invite-join-dashi {
    left: 735px;
    position: relative;
    top: 420px;
    width: 100px;
}

.invite-help {
    font-size: 12px;
    color: #000;
}

.invite-points {
    position: absolute;
margin-left: 530px;
margin-top: 120px;
    color: #F9493A;
    font-size: 80px;
    width: 180px;
    text-align: center;
    font-family: "Arival";
}